@model IEnumerable<BulletinBoard.Models.Advertisement>
@{
    ViewBag.Title = "Доска объявлений";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Доска объявлений</h2>

<div>
    @foreach(var advertisement in Model)
    {
        <div class="advertisement">
            @advertisement.Name;
        </div>
    }
</div>